* {
  margin: 0;
  padding: 0;
}

/* Global Styles*/
 body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to bottom, #022f3b, #0072ff);
  color: #fff;
} 
nav{
  background-color:rgb(3, 135, 158);
  }
  .brand{
    color: #fff;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
  margin-left: 5px;
  margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.links {
    padding-right: 0;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    padding-left: 10px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
a{
  color: #fff;
}
a:hover{
  color: #0072ff;
  font-size: large;
}
.container {
  max-width: 90%;
  margin-top:4rem;
  font-size: large;
  margin-bottom: .5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
ul{
    list-style: none;
}
footer .ending{
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem;
  padding: 1rem 0px;
  color: #eee;
  display: block;
}

.footer {
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.footer a {
  color: #ffeb3b;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

